.slide {
	position: relative;
	padding-top: 45px;
	padding-bottom: 16px;
	font: 25px/2 var(--font-sans-serif);
	font-weight: 400;
	line-height: 1.4;
	color: var(--color-medium);
	background-color: var(--color-light);
}

/* Number */

.slide::after {
	top: unset;
	bottom: 0;
	left: unset;
	right: 0;
	padding: 8px;
	height: 50px;
	color: var(--color-light);
	background-color: var(--color-medium);
	background-image: none;
	background-size: unset;
}

.slide.slide--title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--color-dark);
}

.slide.slide--title p,
.slide.slide--title h2 {
	color: var(--color-dark);
}

.slide.slide--title::after {
	display: none;
}

.slide h1,
.slide h2,
.slide h3 {
	margin-bottom: 42px;
	font-family: inherit;
	color: var(--color-dark);
	line-height: 1.3;
}

.slide h3 {
	margin-bottom: 32px;
}

.slide h3::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background-color: var(--color-subtle-accent);
}

.slide mark {
	padding: 1px 4px;
	background-color: var(--color-accent);
}

.slide pre,
.slide code {
	font-family: var(--font-mono);
}

.slide pre {
	margin: 0;
	padding: 10px 20px;
	background-color: var(--color-subtle-accent);
	border-radius: 8px;
	counter-reset: none;
	height: auto;
}

.slide pre code {
	font-size: 18px;
	line-height: 1.6;
}

.slide pre code:not(:only-child).mark {
	background-color: var(--color-subtle-accent);
}

.slide pre code:not(:only-child)::before {
	content: none;
	position: absolute;
	margin-left: 0;
	counter-increment: none;
}

.slide table {
	font-size: 1.1rem;
}

.slide table tr:nth-child(odd) {
	background-color: var(--color-subtle-accent);
}

.slide table tr:nth-child(even) {
	background-color: var(--color-light);
}

.slide table tr > * {
	padding: 1rem 0;
}

.slide tr:not(:last-of-type) > * {
	background-image: none;
	background-repeat: unset;
}

.slide table th {
	padding-right: 1rem;
}

.slide a {
	color: var(--color-medium);
	text-decoration: underline;
	background-image: none;
}

.slide a:hover {
	color: var(--background-color);
	background-color: var(--interaction-color);
}

.slide img.content-image {
	display: block;
	width: 100%;
}

.slide ul {
	list-style: initial;
}

.slide ul > li:lang(ru)::before,
.slide ul > li:lang(en)::before {
	content: none;
}

.slide ol, .slide ul {
    padding-left: 25px;
}

.slide ul > li {
	line-height: 1.4;
}

.slide li + li {
	padding-top: 6px;
}

.slide.chapter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--color-light);
	background-color: var(--color-dark);
}

.slide.chapter h2 {
	color: var(--color-light);
}

.slide.shout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 75px;
}

.slide.shout h2 {
	font-size: 90px;
	font-weight: 600;
}

.slide.shout p {
	margin: 0;
	padding: 0;
	font-size: 38px;
}

.slide math {
	display: flex;
	align-items: center;
	width: fit-content;
	font-size: 48px;
}

.slide iframe {
	display: block;
	width: 100%;
	border: 0;
	border-radius: 8px;
	background-color: var(--color-dark);
	scrollbar-gutter: stable;
}

.slide iframe.cover-demo {
	width: 1200px;
	height: 80%;
	border-top: 3px solid var(--color-accent);
	border-bottom: 3px solid var(--color-accent);
	border-right: 3px solid var(--color-accent);
	margin-left: calc(-1 * var(--slide-side));
	border-radius: 0;
}

.slide .iframe-control {
	padding-top: 1em;
}
