:root {
	--accent--color: #e0c974;
	--background-color: rgb(69 73 72);
	--text-color: #e8d0de;
	--links-color: #dec0d1;
	--interaction-color: #cebee8;
	--headings-color: #bdabb6;
	--decorative--color: #dec0d1;
	--shower-elems-color: rgb(47 50 49);
}

@font-face {
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url("fonts/ibm-plex-sans-v8-latin_cyrillic-regular.woff2")
			format("woff2"),
		url("fonts/ibm-plex-sans-v8-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url("fonts/ibm-plex-sans-v8-latin_cyrillic-700.woff2") format("woff2"),
		url("fonts/ibm-plex-sans-v8-latin_cyrillic-700.woff") format("woff");
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url("fonts/ibm-plex-mono-v6-latin_cyrillic-regular.woff2")
			format("woff2"),
		url("fonts/ibm-plex-mono-v6-latin_cyrillic-regular.woff") format("woff");
}

html {
	color-scheme: dark;
}

.shower {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 26px;
	line-height: 1.5;
	font-weight: 300;
	color: var(--text-color);
}

.slide {
	padding-top: 46px;
	background-color: var(--background-color);
}

.slide:after {
	height: calc(var(--ribbon-size) * 1.6);
	background-image: none;
	background-color: var(--shower-elems-color);
	color: var(--focus-color);
}

.caption h1,
.slide h2,
.slide h3,
.slide p {
	font-family: "IBM Plex Sans", sans-serif;
}

.slide h2,
.slide h3 {
	margin-bottom: 40px;
	color: var(--headings-color);
}

.slide li:not(:last-child) {
	margin-bottom: 7px;
}

.slide figcaption {
	font-size: 22px;
	line-height: 1.4;
}

.slide img {
	display: inline-block;
	width: 100%;
	object-fit: cover;
	border-radius: 8px;
}

.filtered-img {
	filter: brightness(87%) saturate(0%);
	-webkit-filter: brightness(87%) saturate(0%);
	-moz-filter: brightness(87%) saturate(0%);
}

.slide mark {
	background-color: var(--accent--color);
	font-size: 28px;
}

.slide iframe {
	display: block;
	width: 100%;
	border: 0;
	border-radius: 8px;
	background-color: transparent;
}

.slide li:before {
	color: var(--decorative--color);
}

.slide a {
	color: var(--links-color);
}

.slide a:hover {
	background-color: var(--interaction-color);
}

.slide.shout {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 75px var(--slide-side);
}

.slide.shout p {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 38px;
}

.slide.shout mark {
	font-size: 41px;
}

.progress:before {
	background-color: var(--shower-elems-color);
}

.vh {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
