:root {
	--accent--color: #e0c974;
	--background-color: #454948;
	--text-color: #e8d0de;
	--links-color: #dec0d1;
	--interaction-color: #cebee8;
	--headings-color: #bdabb6;
	--decorative--color: #dec0d1;
	--shower-elems-color: rgb(47 50 49);
}

@font-face {
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url("fonts/ibm-plex-sans-v8-latin_cyrillic-regular.woff2")
			format("woff2"),
		url("fonts/ibm-plex-sans-v8-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url("fonts/ibm-plex-sans-v8-latin_cyrillic-700.woff2") format("woff2"),
		url("fonts/ibm-plex-sans-v8-latin_cyrillic-700.woff") format("woff");
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url("fonts/ibm-plex-mono-v6-latin_cyrillic-regular.woff2")
			format("woff2"),
		url("fonts/ibm-plex-mono-v6-latin_cyrillic-regular.woff") format("woff");
}

html {
	color-scheme: dark;
}

.shower {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 26px;
	font-weight: 400;
	color: var(--text-color);
	line-height: 1.5;
}

.slide {
	padding-top: 46px;
	background-color: var(--background-color);
}

.slide:after {
	height: calc(var(--ribbon-size) * 1.6);
	background-image: none;
	background-color: var(--shower-elems-color);
	color: var(--focus-color);
}

.caption h1,
.slide h2,
.slide h3,
.slide p {
	font-family: "IBM Plex Sans", sans-serif;
}

.slide h2,
.slide h3 {
	margin-bottom: 40px;
	color: var(--headings-color);
}

.slide.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	background-color: var(--background-color);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%235f756f' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.slide.main .name {
	font-size: 80px;
	line-height: 1.2;
}

.slide.main .credits {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	line-height: 1.4;
	color: var(--headings-color);
}

.slide.chapter {
	background-color: var(--text-color);
}

.slide.chapter h2 {
	position: relative;
	font-size: 80px;
	color: var(--background-color);
}

.slide li:not(:last-child) {
	margin-bottom: 7px;
}

.slide figcaption {
	font-size: 22px;
	line-height: 1.4;
}

.slide img {
	display: inline-block;
	width: 100%;
	object-fit: cover;
	border-radius: 8px;
}

.filtered-img {
	filter: brightness(87%) saturate(0%);
	-webkit-filter: brightness(87%) saturate(0%);
	-moz-filter: brightness(87%) saturate(0%);
}

.slide mark {
	font-size: 28px;
	padding: 2px 15px;
	background-color: var(--accent--color);
}

.slide iframe {
	display: block;
	width: 100%;
	border: 0;
	border-radius: 8px;
	background-color: transparent;
}

.slide li:before {
	color: var(--decorative--color);
}

.slide a {
	color: var(--links-color);
}

.slide a:hover {
	background-color: var(--interaction-color);
}

.slide.shout {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 75px var(--slide-side);
}

.slide.shout p {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 38px;
}

.slide.shout mark {
	font-size: 41px;
}

.progress:before {
	background-color: var(--shower-elems-color);
}

.vh {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
