@import "shower-styles.css";
@import "slide-styles.css";
@import "demos-styles.css";

:root {
	--color-light: hsl(310 49% 88%);
	--color-dark: hsl(226 100% 17%);
	--color-accent: hsl(321 100% 77%);
	--color-medium: hsl(225.44 91.387% 21.648%);
	--color-subtle-accent: hsla(226, 91%, 22%, 0.092);

	--color-fill: rgba(88, 90, 94, 0.1);
	--color-line: rgba(88, 90, 94, 0.5);

	--slide-side: 600px;

	--font-sans-serif: "Nunito", "Roboto", Arial, sans-serif;
	--font-mono: "DM Mono", monospace;
}

/*
.slide.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.slide.main .name {
	font-size: 80px;
	line-height: 1.2;
}

.slide.main .credits {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	line-height: 1.4;
	color: var(--headings-color);
}


.slide.chapter h2 {
	position: relative;
	font-size: 80px;
	color: var(--background-color);
}



.slide figcaption {
	font-size: 22px;
	line-height: 1.4;
}

.slide img {
	display: inline-block;
	width: 100%;
	object-fit: cover;
	border-radius: 8px;
}




