.demo {
	display: flex;
	margin: 1rem 2rem;
	font-family: var(--font-sans-serif);
	font-weight: inherit;
	font-style: inherit;
	color: var(--color-light);
	background-color: var(--color-dark);
}

/* .demo-container {
	width: 80%;
} */

.demo-content__columns {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
}
